body{
    background-color: #212529d5 !important;
}

.main{
    border: solid 1px;
    border-color: #222;
    margin-bottom: 15px;
}
.corpo {
   margin: auto;
    width: 65rem;
    padding-top: 60px;
  }
  .form-control {
    width: 97%;
  }
  #atributos-tag {
    background-color: black;
    color: white;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 6px;
    margin: 10px;
  }

  .div_for {
    margin: auto;
    display: block;
    padding: 4px 0;
  }
  .pj_info {
    text-align: center !important;
    justify-content: center !important;
    display: block !important;
    padding: 4px 0;
  }

  .linhas{
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
  }

  #pj_img{
    display: none !important;
    border: solid 1.5px !important;
    border-color: rgb(194, 194, 194) !important;
  }

  .main label{
    font-weight: bold;
    
  }
  input, select{
    border-color: black !important;
    border-radius: 20px !important;
  }

  input, input[type='number'], select{
      text-align: center !important;
  }

 
  .faL{
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  }
  
  .pericia{
    text-transform: uppercase !important;
  }
  button{
    background-color: #000 !important;
    color: #b8a357 !important;
    border-radius: 25px;
  }
  
  .add_pericia {
    background-color: #ddc056 !important;
    color: #fff !important;
  
  }

  .card-text{
    border-bottom:solid 1px;
  }
.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
    color: #fff;
}
.sidebar-nav ul li a:hover {
    background-color: #8d8d8d;
    border-radius: 4px;
    color: rgb(233, 192, 89);;
}
.sidebar-nav .offcanvas {
    width: 260px;
    border: none;
}
.sidebar-nav .offcanvas ul li a span {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}
.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}
#offcanvasNavbar{
    background-color: #222;
}
.navbar-toggler{
    margin-left: 10px;
}
.container{
    max-width: 100% !important;
}
#novo_player{
  background-color:rgb(233, 192, 89) !important ;
  color: #000 !important;
  font-size: 18px;
}

#nova_ficha{
  background-color: #8a1518 !important;
  color: #fff !important;
}